@model GlobalBilgiQuiz.Data.Services.QuizServiceFolder.ContestObject

@section Styles{
    <link href="../css/contest.css" rel="stylesheet">
}
<div style="display:flex;justify-content:center">
    <p style="color:red;text-align:center">* Lütfen en alttaki matematik sorusunu çözdükten sonra seçeneğinizi seçin!</p>
</div>

<div class="modal-dialog" style="max-width:2000px">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-sm-8">
                    <div id="captcha">
                        <div class="form-group">
                            <label id="randoms"></label>
                            <input type="text" class="form-control" id="captchasum">
                        </div>
                    </div>
                    <h3><span class="label label-warning" id="qid">@Model.QuestionOrder</span> @Html.Raw(Model.QuestionText)</h3>
                </div>
                <div class="col-sm-4" style="border-left: 1px solid red;">
                    <div id="timer" style="font-size: 5rem;display: flex;justify-content: center;align-items: center;line-height: 160px;"></div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
                <div id="loadbar" style="display: none;">
                    <div class="blockG" id="rotateG_01"></div>
                    <div class="blockG" id="rotateG_02"></div>
                    <div class="blockG" id="rotateG_03"></div>
                    <div class="blockG" id="rotateG_04"></div>
                    <div class="blockG" id="rotateG_05"></div>
                    <div class="blockG" id="rotateG_06"></div>
                    <div class="blockG" id="rotateG_07"></div>
                    <div class="blockG" id="rotateG_08"></div>
                </div>
            </div>

            <div class="quiz" id="quiz" data-toggle="buttons">
                @foreach (var m in Model.ShowcaseAnswers)
                {
                    <label class="element-animation1 btn btn-lg btn-primary btn-block lblbtnhover"><span class="btn-label"></span> 
                        <input type="radio" class="btn-check" name="AnswerID" value="@m.AnswerId" style="visibility:hidden">@m.AnswerText</label>
                }
            </div>
        </div>
        <div class="modal-footer text-muted">
            <span id="answer"></span>
        </div>
        <input type="hidden" id="questionid" value="@Model.QuestionId" />
        <input type="hidden" id="questionmetricid" value="@Model.QuestionMetricId" />

    </div>
</div>

@section Scripts{
    <script src="../js/Quiz/contest.js"></script>
}